/* header */
.header {

    grid-area: 'header';

    &__contact{
        background-color: $color-green-light;
    }

    &__contact-email{
        margin-left: 15px;
    }

    &__contact-phone-link, &__contact-email-link{
        @include size-height(10px, 16px);
        color: $color-white;
        margin-right: 16px;
    }
        
	&__contact-body, &__menu-body{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items: center;
	}

    &__contact-social{
        text-align: end;
        margin-right: 15px;
    }

	&__contact-social-item{
        padding: 9px;
    }

    &__menu{
        background: $color-white;
    }

    &__menu-body{
        align-items: center;
    }

	&__menu-logo {
        height: 72px;
        display: grid;
        grid-template: 1fr / 1fr 3fr;
        align-items: center;
	}

	&__logo {
        @include size-height(21px, 32px);
        color: $color-grey-dark;
        margin: 20px  0 20px 15px;
	}

	&__list {
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        @include size-height(14px, 22px);
        font-family: $Open-Sans;
        margin-top: 4px;
        margin-left: 7px;
	}

    &__list-link{
        padding: 20px 0;
        justify-self: start
    }

	&__menu-buttons {
        margin-right: 15px;
        display: grid;
        grid-template: 1fr / 35px 35px 35px ;
        gap: 10px;
        justify-content: end;
        align-items: center;
        text-align: center
	}

	&__menu-cart {
        @include size-height(13px, 24px);
        font-family: $Open-Sans;
        color: $color-dark;
	}

    &__menu-culck{
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: none;
        background: $color-green-light;
        color: $color-white;
        align-content: center;
    }
}
    /* end header */
